h1 {
    padding-top: 20px;
}

.profile {
    width: 200px;
    height: 200px;
    border: none;
    border-radius: 100%;
}

.skillIcons {
    padding: 20px;
}

.iconSize {
    font-size: 5rem;
}

.imgSize {
    width: 100%;
}


li {
    list-style: none;
}

section {
    padding: 40px;
}

.contactIcon {
    font-size: 2rem;
} 

.contactInfo {
    padding: 25px;
}

a {
    color: inherit;
    text-decoration: none;
}

.row {
    padding: 15px;
}
   
a:link {color: black;}      
a:visited {color: black;}
a:hover {color: black;
text-decoration: none;}     
a:active {color: black;}   


.socialIcon {
    font-size: 2rem;
    margin-left: 40px;
} 

html * :not(i) {
    font-family: 'Roboto Slab', serif !important;
}